<div class="card content-wrapper container-xxl p-0" *blockUI="'section-block'">
    <div class="card-body">

        <section class="users-list-wrapper">
            <div class="card">
              <div class="row">
                <div class="col-md-3 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <label class="d-flex align-items-center">Mostrar
                      <select class="form-control mx-25" [(ngModel)]="selectedOption">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      Registros</label>
                  </div>
                </div>
                <div class="col-md-3 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <button type="button" (click)="AddMovilizacionPiezas(ModalAddRegistrarPiezas)"   class="btn btn-success"  rippleEffect>
                      Registrar Pago</button>
                  </div>
                </div>
                <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                  <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                    <label class="d-flex align-items-center ml-1 ml-md-0">Buscar:<input [(ngModel)]="searchValue"
                        name="searchValue" type="search" class="form-control ml-25" placeholder="Peso de Envio"
                        (keyup)="filterUpdate($event)"
                        (search)="filterUpdate($event)" /></label>
                  </div>
                </div>
              </div>
              
              <ngx-datatable [rows]="rowsUtilidadCierreFiscal"  [rowHeight]="50" class="bootstrap core-bootstrap"
                [limit]="selectedOption" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                [scrollbarH]="true">
      
                <ngx-datatable-column name="Peso Envio" prop="Fecha" [width]="20">
                  <ng-template let-Fecha="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold">{{ Fecha }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
      
                <ngx-datatable-column name="PMVP" prop="ejercicioFiscal"  [width]="20">
                  <ng-template let-ejercicioFiscal="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold"> {{ ejercicioFiscal }}</span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
      
                <ngx-datatable-column name="I.V.A" prop="Monto" [width]="20">
                  <ng-template let-Monto="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold"> {{ Monto }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
      
      
                <ngx-datatable-column name="TASA POSTAL" prop="tipo" [width]="20">
                  <ng-template let-tipo="value" ngx-datatable-cell-template>
                    <div
                      class="badge badge-pill"
                      ngClass="badge-light-info">
                      {{ tipo }}
                    </div>
                  </ng-template>
                </ngx-datatable-column> 
      
      
                <ngx-datatable-column name="TOTAL PAGAR" prop="Tipo" [width]="20">
                  <ng-template let-Tipo="value" ngx-datatable-cell-template>
                    <div
                      class="badge badge-pill"
                      ngClass="badge-light-warning">
                      {{ Tipo }}
                    </div>
                  </ng-template>
                </ngx-datatable-column> 
                
                
                <ngx-datatable-column name="Accion" [width]="5" [sortable]="false">
                  <ng-template  ngx-datatable-cell-template let-row="row">
                    <div ngbDropdown container="body">
                      <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                        <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                      </button>
                      <div ngbDropdownMenu>
                        <div *ngIf="row.CantidadPagos != 1; else pagos">
                        <a (click)="DetallesPagosAporte(ModalDetailsAporte,row);DetalleAportes(row)" ngbDropdownItem><span
                          [data-feather]="'eye'" [size]="16" [class]="'mr-50'"></span> Detalles</a>
                        <a (click)="RegistrarPagarAporte(ModalAddRegisterAporte,row)" ngbDropdownItem><span
                             [size]="16" [class]="'mr-50'">Bs</span> Pagar</a><a
                          (click)="DeleteGananciaContribuyente(row)" ngbDropdownItem><span [data-feather]="'trash'"
                            [size]="16" [class]="'mr-50'"></span> Eliminar</a>
                      </div>
                    </div>
                      <ng-template  #pagos>
                            <a (click)="DetallesPagosAporte(ModalDetailsAporte,row);DetalleAportes(row)" ngbDropdownItem><span
                              [data-feather]="'eye'" [size]="16" [class]="'mr-50'"></span> Detalles</a>
                            </ng-template>
                    </div>  
                      </ng-template>
                    </ngx-datatable-column>
      
              </ngx-datatable>
      
         
          <!--/ Invoice List -->
        </div>
          </section>

    </div>
</div>






<ng-template #ModalAddRegistrarPiezas let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Registrar Movilización de Piezas</h5>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>

    <div class="col-xl-12 col-md-12 col-12">

      <form class="form" (ngSubmit)="(formUsersRegister.form.valid)" #formUsersRegister="ngForm" class="invoice-repeater">
          <div class="row d-flex align-items-end">


            <div class="col-md-12 col-12">
              <div class="form-group">
                <label>Seleccionar Status</label>
                <ng-select [items]="SelectStatusSubcontratista"
                 bindLabel="name" bindValue="id" placeholder="Seleccionar Status"
                ></ng-select>
              </div>
            </div>

            <div class="col-md-12 col-12">
              <div class="form-group">
                <label >Observación</label>
                <textarea type="text" class="form-control" rows="6"  autocomplete="off"
                  placeholder="Ingrese Observación"></textarea>
              </div>
            </div>

          </div>
      </form>
      
    </div>
  </div>
  <!--/ Invoice -->
  <div class="modal-footer">
      <button type="submit" [disabled]="!formUsersRegister.form.valid" (click)="RegistrarCambiarStatus()"
      rippleEffect class="btn btn-success mr-1">Cambiar Status</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>
      Cerrar
    </button>
  </div>
</ng-template>